/* Убираем точки на списке */
:root {
  --section-paragraf-color: #757575;
  --section-title-color: #212121;
  --font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
.body {
  font-family: var(--font-family);
}
p {
  font-style: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
/* Эффекты для интерактивных элементов */
.header-link:hover,
.heder-link:active,
.heder-link:focus {
  color: #2196f3;
}
/* Ссылки в шапке */
.header-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--section-title-color);
}
.header-link-portfolio {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #2196f3;
}
/* Фокус логотипа */
.logo:focus {
  color: royalblue;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: calc (26 / 31);
}
/* Часть цвета логотипа */
.color-logo-web {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: cal (26 / 31);
}
.color-logo-studio {
  color: var(--section-title-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: cal (26 / 31);
}

/* Секция 1 */
.section-title-1 {
  font-family: var(--font-family);
  background-color: #2f303a;
  color: white;
  font-style: normal;
  font-weight: 900;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Абзацы */
.section-paragraf {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
}
.title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--section-title-color);
}
/* Секция заголовка "Чем мы занимаемся" */
.section-title-2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
}
.section-title-3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
}
/* Подвал */
.footer {
  background-color: #2f303a;
}
.address-link:hover {
  color: #2196f3;
}
.address-link:active {
  color: turquoise;
}
.address-link:focus {
  color: #ffffff;
}
/* Секция адреса */
.about-address {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-link-maps {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-link-maps:hover {
  color: #2196f3;
}
.address-link-maps:active {
  color: turquoise;
}
.address-link-maps:focus {
  color: #ffffff;
}
/* Кнопки */
.section-btn {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: #ffffff;
  line-height: calc(30 / 16);
  background: #2196f3;
  border-radius: 4px;
  border: none;
}
.section-btn:hover,
.section-btn:focus {
  background-color: #188ce8;
}
.btn-grey:hover,
.btn-grey:focus {
  background-color: rgba(255, 255, 255, 0.6);
}
.btn-grey {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  border-radius: 4px;
  border: none;
}
