/* Убираем точки на списке */
:root {
  --section-paragraf-color: #757575;
  --section-title-color: #212121;
  --color-letter-white: #ffffff;
  --color-letter-blue: #2196f3;
  --active-link-color: royalblue;
  --color-background: #2f303a;
  --font-family: "Roboto", sans-serif;
  --font-family-header: "Raleway", sans-serif;
}
.header {
  font-family: var(--font-family);
}
ul {
  list-style: none;
}
.body {
  font-family: var(--font-family);
}
p {
  font-style: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
/* Эффекты для интерактивных элементов */
.header-link:hover,
.heder-link:active,
.heder-link:focus {
  color: var(--color-letter-blue);
}
/* Ссылки в шапке */
.header-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--section-title-color);
}
.header-link-mail {
  color: var(--section-paragraf-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.header-link-mail:hover,
.heder-link-mail:active,
.heder-link-mail:focus {
  color: var(--color-letter-blue);
}
.header-link-tel {
  color: var(--section-paragraf-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.header-link-tel:hover,
.heder-link-tel:active,
.heder-link-tel:focus {
  color: var(--color-letter-blue);
}
/* Подсветка Ссылки Студия */
.header-link-studio {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-letter-blue);
}
.header-link-portfolio {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-letter-blue);
}
/* Фокус логотипа */
.logo:focus {
  color: var(--active-link-color);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: calc (26 / 31);
}
/* Часть цвета логотипа */
.color-logo-web {
  color: var(--color-letter-blue);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: cal (26 / 31);
}
.color-logo-studio {
  color: var(--section-title-color);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: cal (26 / 31);
}

/* Секция 1 */
.section-title-1 {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-letter-white);
  font-style: normal;
  font-weight: 900;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Абзацы */
.section-paragraf {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
}
.title-our-team {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  color: var(--section-title-color);
}
/* Секция заголовка "Чем мы занимаемся" */
.title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--section-title-color);
}
.section-title-2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
}
.section-title-3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
}
.title-img {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 16);
  color: var(--section-title-color);
}
/* Подвал */
.footer {
  background-color: var(--color-background);
}
.address-link:hover {
  color: var(--color-letter-blue);
}
.address-link:active {
  color: var(--section-paragraf-color);
}
.address-link:focus {
  color: var(--color-letter-blue);
}
/* Секция адреса */
.about-address {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-letter-white);
}
.address-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-letter-white);
}
.address-link-maps {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-letter-white);
}
.address-link-maps:hover {
  color: var(--color-letter-blue);
}
.address-link-maps:active {
  color: var(--active-link-color);
}
.address-link-maps:focus {
  color: var(--section-paragraf-color);
}
.address-link-mail {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--section-paragraf-color);
}
.address-link-mail:hover {
  color: var(--color-letter-blue);
}
.address-link-mail:active {
  color: var(--active-link-color);
}
.address-link-mail:focus {
  color: var(--color-letter-white);
}
.address-link-tel {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--section-paragraf-color);
}
.address-link-tel:hover {
  color: var(--color-letter-blue);
}
.address-link-tel:active {
  color: var(--active-link-color);
}
.address-link-tel:focus {
  color: var(--color-letter-white);
}
/* Кнопки */
.section-btn {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;
}
.section-btn:hover,
.section-btn:focus {
  background-color: var(--active-link-color);
}
.btn-grey:hover,
.btn-grey:focus {
  background-color: var(--color-letter-blue);
  color: var(--color-letter-white);
}
.btn-grey {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  background: #f5f4fa;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  border-radius: 4px;
  border: none;
}
/* <!-- Наша команда--> */
.section-our-team {
  background-color: var(--color-letter-white);
}
/* Цвет части логотипа в футере */
.color-logo-studio-address {
  color: var(--color-letter-white);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: cal (26 / 31);
}
